<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <title>{{ page.title }}</title>
</head>
<body class="bg-stone-100 flex flex-col min-h-screen">
  <header>
    <section class="bg-black flex justify-center">
      <img src="/assets/images/cropped-mcheader.jpg" alt="Club logo and a photo of some mountains"/>
    </section>
    <section class="bg-stone-200">
      <nav class="p-2 mx-16 mb-4">
        <ul class="flex content-start gap-10">
          <li><a class="text-slate-800 hover:text-sky-500" href="/">Home</a></li>
          <li><a class="text-slate-800 hover:text-sky-500" href="/meet-reports">Meet Reports</a></li>
          <li><a class="text-slate-800 hover:text-sky-500" href="/calendar">Calendar</a></li>
          <li><a class="text-slate-800 hover:text-sky-500" href="/legal">Legal</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <main class="mx-16">
    {{ content }}
  </main>
  <footer class="mt-auto bg-black text-white p-4">
    <p class="m-2">Copyright &copy; {{ "now" | date: "%Y" }} - 45 Degrees Mountaineering Club</p>
  </footer>
</body>
</html>
