<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <section>
      <img src="/assets/images/cropped-mcheader.jpg" alt="Club logo and a photo of some mountains"/>
    </section>
    <section>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/meet-reports">Meet Reports</a></li>
          <li><a href="/calendar">Calendar</a></li>
          <li><a href="/legal">Legal</a></li>
        </ul>
      </nav>
    </section>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Copyright {{ "now" | date: "%Y" }} 45 Degrees Mountaineering Club</p>
  </footer>
</body>
</html>
